.container{
    background-color: #d4ac7454;
    height: 234px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    margin-left: 54px;
}
.time{
    text-align: center;
    font-size: 3em;
    margin: 15px auto;
}

.icon{
    margin-right: 15px;
    margin-left: -35px;
}
.btns{
    display: flex;
    justify-content: space-around;
}
button{
    width: 14%;
    height: 32px;
    border-radius: 6px;
    background-color: #000000cc;
    border: none;
    color: white;
    font-size: larger;
}